<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="sleepiness">
      <ion-icon name="bed-outline"></ion-icon>
      Sleepiness
    </ion-tab-button>
    <ion-tab-button tab="home">
      <ion-icon name="timer-outline"></ion-icon>
      Sleep Timer
    </ion-tab-button>
    <ion-tab-button tab="log">
      <ion-icon name="document-text-outline"></ion-icon>
      Sleep Log
    </ion-tab-button>
    <ion-tab-button tab="settings">
      <ion-icon name="settings-outline"></ion-icon>
      Setting
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
