#page{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  height: 80%;
}

#title {
  margin-top: 10%;
  font-size: 10vw;
}

.sleep_log_btn {
  margin-top: 10%;
  width: 80%;
}
