<ion-footer>
  <ion-toolbar>
    <ion-tabs>
      <ion-tab-bar slot="bottom">
        <ion-tab-button tab="sleepiness" routerLink="sleepiness">
          <ion-icon name="bed-outline"></ion-icon>
          Sleepiness
        </ion-tab-button>
        <ion-tab-button tab="home" routerLink="home">
          <ion-icon name="timer-outline"></ion-icon>
          Sleep Timer
        </ion-tab-button>
        <ion-tab-button tab="log" routerLink="log">
          <ion-icon name="document-text-outline"></ion-icon>
          Sleep Log
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-toolbar>
</ion-footer>