ion-header {
  display: none;
}

#page {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

#title {
  font-size: 8vw;
}

ion-range {
  width: 80%;
  margin-bottom: 3%;
}

#sleepiness-description {
  height: 2vw;
}

@media (orientation: landscape) {
  #title {
    margin-top: 5%;
    margin-bottom: 8%;
  }
  ion-button {
    width: 15%;
  }
}

@media (orientation: portrait) {
  #title {
    margin-top: 40%;
    margin-bottom: 40%;
  }
}
